build
.vs
*xcodeproj/*mode*
*xcodeproj/*pbxuser
*xcodeproj/*per*
*xcodeproj/project.xcworkspace
*xcodeproj/xcuserdata
*xcworkspace/xcuserdata
**/ContentList.csproj.user

**/build
**/*xcodeproj/*mode*
**/*xcodeproj/*pbxuser
**/*xcodeproj/*per*
**/*xcodeproj/project.xcworkspace
**/*xcodeproj/xcuserdata
**/**/*xcodeproj/*mode*
**/**/*xcodeproj/*pbxuser
**/**/*xcodeproj/*per*
**/**/*xcodeproj/project.xcworkspace
**/**/*xcodeproj/xcuserdata

*tmproj
**/~*
.DS_Store
**/bin
bin

**/obj
obj

Resource.designer.cs
**/Resource.designer.cs
*.*/Resources/Resource.Designer.cs

**/*.so

packages/
.idea/